* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

body {
  background-color: #FFFFFF;

}

nav {
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
}

nav img {
  margin-right: 10rem;
}

nav .pages {
  display: flex;
  gap: 32px;
}

nav .pages a {
  text-decoration: none;
  color: #667085;
}

nav .buttons {
  display: flex;
  margin-left: auto;
  gap: 32px;
  align-items: center;
  font-weight: 500;
  font-size: 0.9rem;
}

nav .buttons a {
  text-decoration: none;
  color: #667085;
}

nav .buttons button {
  background-color: #8E2424;
  color: #FFFFFF;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  padding: 0.8rem 1rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 6rem 0 6rem 0;
  gap: 1.5rem;

  font-weight: 600;
}

header span {
  color: #8E2424;
}

header h1 {
  font-size: 3rem;
}

header p {
  font-weight: 400;
  color: #667085;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.metricas-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.metricas-container div {
  width: 280px;
}

.metricas-container div h1 {
  color: #8E2424;
  font-size: 3.5rem;
  font-weight: 600;
  padding: 0.8rem 0 0.8rem;
}

.metricas-container div h2 {
  font-size: 1.1rem;
  padding: 0.5rem 0 0.5rem;
}

.metricas-container div p {
  color: #667085;
  line-height: 1.5rem;
}